WebATM_System/xml-resources/web-service-references/ATM_Server_3/wsdl/localhost_8080/WebATMServer/ATM_Server.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://syntech/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://syntech/">

<xs:element name="cardNo" type="tns:cardNo"/>

<xs:element name="cardNoResponse" type="tns:cardNoResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="update" type="tns:update"/>

<xs:element name="updateResponse" type="tns:updateResponse"/>

<xs:element name="widthdraw" type="tns:widthdraw"/>

<xs:element name="widthdrawResponse" type="tns:widthdrawResponse"/>

<xs:complexType name="widthdraw">
<xs:sequence>
<xs:element name="acno" type="xs:string" minOccurs="0"/>
<xs:element name="amount" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="time" type="xs:string" minOccurs="0"/>
<xs:element name="des" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="widthdrawResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cardNo">
<xs:sequence>
<xs:element name="cardno" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cardNoResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="update">
<xs:sequence>
<xs:element name="acno" type="xs:string" minOccurs="0"/>
<xs:element name="amount" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>